{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} / activity type / list{% endblock %}

 {% block opengraph_meta %}
  		{{parent()}}
  {% endblock %} 

{% block body %}
	{{ parent() }}
    <div class="clearfix"></div>
    <div class="row" >
    	<h2>dlt.tw</h2>
    	<h4>(delete tweet)</h4>
    	<p>Easily search and bulk delete old shitty tweets.<br />To start, login using your twitter account:</p>
    	<br />
    	<a href="/social/oauth/twitter"><img src="img/login_with_twitter.png" class="swap" id="login-button-twitter" align="middle" /></a>
    	<img src="img/login_with_twitter.swap.png" class="load-hide" id="login-button-twitter-swap" />
    </div>
{% endblock %}

