                  <a href="http://twitter.com/dlttw" target="_blank" class="logo"><img src="img/favicon/favicon-32x32.png" /></a>
                  {% if user.screen_name!="" %}<a href="/tweets">tweets</a>{% else %}<a href="/auth">login</a>{% endif %}
                  |
                  <a href="/about">about</a>
                  | <a href="/contact">contact</a>
                  | <a href="/privacy">privacy</a>
                  | <a href="/terms">terms of service</a>
                  {% if user.screen_name!="" %}| <a href="/logout">logout</a>{% endif %}