{% extends 'layout-auth.html.twig' %}

{% block title %}{{parent()}} / auth{% endblock %}

 {% block opengraph_meta %}
        {{parent()}}
  {% endblock %}

{% block body %}
    {{ parent() }}
    <div class="clearfix"></div>
    <div class="row" >
        <h2>privacy policy</h2>
        <br />
        <p>
            <strong>dlt.tw</strong> does not store any personal information. When you login with Twitter, we use your authorized token during your session and destroy it when you choose to logout.
        </p>
        <p>We do not share any information with 3rd parties</p>
    </div>
{% endblock %}