{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} / tweets{% endblock %}

 {% block opengraph_meta %}
  		{{parent()}}
  {% endblock %} 

{% block body %}
	{{ parent() }}
	

	<script src="js/tweets.js"></script>

    <div class="clearfix"></div>

	<!--<div class="row" >
		<form class="form-inline" id="search-form">
		 	<div class="form-group">
		    	<label for="exampleInputName2">Query</label>
		    	<input type="text" class="form-control" id="q" placeholder="butts">
		  	</div>
		  	<div class="form-group">
		    	<label for="exampleInputEmail2">Until</label>
		    	<input type="date" class="form-control" id="until" placeholder="2015-04-15">
		  	</div>
		  	<a id="search" class="btn btn-default">Search</a>
		</form>
	</div>-->

	<div class="row" >
		<form class="form-inline" id="filter-form">
			<div class="form-group">
		    	<label for="until">All:</label>
		    	<input type="checkbox" class="form-control" id="all" />
		  	</div>
		  	<div class="form-group">
		    	<label for="until">Max ID</label>
		    	<input type="text" class="form-control" id="max_id" placeholder="tweet id" data-toggle="tooltip" data-placement="bottom" title="Return 200 tweets with this tweet id as the newest">
		  	</div>
		  	<a id="fetch" class="btn btn-default">Retrieve</a>
		  	<a id="delete" class="btn btn-danger disabled">Delete</a>
		</form>
	</div>

	<div class="row" id="tweet-date-range">
	<div class="row" id="tweet-list">
	</div>

	<script type="text/template" id="tweet-container">
	<div class="row">
		<blockquote data-id="<%-id%>" id="tweet<%-id%>" class="twitter-tweet">
			<input type="checkbox" data-id="<%-id%>" />
			<p><%=displayText%></p><br />
			<small><a href="https://twitter.com/<%-name%>/status/<%-id%>" target="_blank" class="timestamp"><%-created_at%></a></small><br />
			<a class="btn btn-default btn-xs pull-right delete" data-id="<%-id%>">delete</a>
		</blockquote>
	</div>
	</script>

	<script type="text/template" id="tweet-image">
	<a href="<%-expanded_url%>" target="_blank"><img src="<%-media_url%>" /></a>
	</script>

	<div class="row" >
	</div>
{% endblock %}

