{% extends 'layout-sidenav.html.twig' %}

{% block title %}{{parent()}} / tweets{% endblock %}

 {% block opengraph_meta %}
  		{{parent()}}
  {% endblock %} 

{% block body %}
	{{ parent() }}
	

	<script src="js/tweets.js"></script>

    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
    <br />
    <div class='banner-container'></div>
    <!--<br />
    <br />
    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=dlttw-20&o=1&p=26&l=ur1&category=music&banner=1W6BXWP2MD99TNTE8F02&f=ifr&linkID=PR4BR5EIRYEEPR2T" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=dlttw-20&o=1&p=26&l=ur1&category=hotnewreleases&banner=06FC6VD7P84322KNP0R2&f=ifr&linkID=NCOR3ETEKLGZPJVR" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=dlttw-20&o=1&p=26&l=ur1&category=mostwishforitem&banner=1M2GXANPMRX5Z7KV4202&f=ifr&linkID=H7HWCOLQ3BZ4ZTU2" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=dlttw-20&o=1&p=26&l=ur1&category=gold&banner=185C2AJPHN0G698PK902&f=ifr&linkID=QAFCYF2URQRQT5WJ" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=dlttw-20&o=1&p=26&l=ur1&category=software&banner=19XTBE67NXHSQT0ASGR2&f=ifr&linkID=VUBAZJSZKZ4IPSYM" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=dlttw-20&o=1&p=26&l=ur1&category=software&banner=1FK66HEKB1FF17W9AP02&f=ifr&linkID=CLIBBNJ3AKP5PINC" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=dlttw-20&o=1&p=26&l=ur1&category=software&banner=0TYKHJJDX2X0PE44KXR2&f=ifr&linkID=THMM5VC44UAIJ7MP" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=dlttw-20&o=1&p=26&l=ur1&category=software&banner=1XRKWRGXVBMET9YQTV82&f=ifr&linkID=MH2URUVUKTNZW2QZ" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=dlttw-20&o=1&p=26&l=ur1&category=software&banner=0SK2G677SXK3HXYGFZR2&f=ifr&linkID=2NH6GRTZ5W4M667A" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=dlttw-20&o=1&p=26&l=ur1&category=videogames&banner=1620DM2X8DSD2PK5Q6R2&f=ifr&linkID=VRQW2THLO3LNVUSN" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=dlttw-20&o=1&p=26&l=ur1&category=topgiftideas&banner=13TF8DHM5H3K11P61YR2&f=ifr&linkID=OZHJIABP5UXAQNFA" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    <br />
    <br />-->

    <h3 id="tweet-count"></h3>
  <small id="date-range"></small><br />
	<div class="row" id="tweet-list">
	</div>

	<script type="text/template" id="tweet-container">
	<div class="row">
		<blockquote data-id="<%-id_str%>" id="tweet<%-id_str%>" class="twitter-tweet">
			<input type="checkbox" data-id="<%-id_str%>" />
			<p><%=displayText%></p>
			<br />
			<small><a href="https://twitter.com/<%-user.name%>/status/<%-id_str%>" target="_blank" class="timestamp"><%-created_at%></a></small><br />
			<span class="label label-default pull-left"><%-id_str%></span>
			<a class="btn btn-default btn-xs pull-right delete" data-id="<%-id_str%>">delete</a>
		</blockquote>
	</div>
	</script>

	<script type="text/template" id="tweet-image">
	<a href="<%-expanded_url%>" target="_blank"><img src="<%-media_url%>" /></a>
	</script>

	

{% endblock %}

