{% extends 'layout-sidenav.html.twig' %}

{% block title %}{{parent()}} / tweets{% endblock %}

 {% block opengraph_meta %}
  		{{parent()}}
  {% endblock %} 

{% block body %}
	{{ parent() }}
	

	<script src="js/tweets.js"></script>

    <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
    <div id="tweet-count"></div>
	<div class="row" id="tweet-list">
	</div>

	<script type="text/template" id="tweet-container">
	<div class="row">
		<blockquote data-id="<%-id_str%>" id="tweet<%-id_str%>" class="twitter-tweet">
			<input type="checkbox" data-id="<%-id_str%>" />
			<p><%=displayText%></p>
			<br />
			<small><a href="https://twitter.com/<%-user.name%>/status/<%-id_str%>" target="_blank" class="timestamp"><%-created_at%></a></small><br />
			<span class="label label-default pull-left"><%-id_str%></span>
			<a class="btn btn-default btn-xs pull-right delete" data-id="<%-id_str%>">delete</a>
		</blockquote>
	</div>
	</script>

	<script type="text/template" id="tweet-image">
	<a href="<%-expanded_url%>" target="_blank"><img src="<%-media_url%>" /></a>
	</script>

{% endblock %}

