{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} / tweets{% endblock %}

 {% block opengraph_meta %}
  		{{parent()}}
  {% endblock %} 

{% block body %}
	{{ parent() }}
	

	<script src="js/tweets.js"></script>

    <div class="clearfix"></div>

	<div class="row" >
		<form class="form-inline" id="search-form">
		 	<div class="form-group">
		    	<label for="exampleInputName2">Query</label>
		    	<input type="text" class="form-control" id="q" placeholder="butts">
		  	</div>
		  	<div class="form-group">
		    	<label for="exampleInputEmail2">Until</label>
		    	<input type="date" class="form-control" id="until" placeholder="2015-04-15">
		  	</div>
		  	<a id="search" class="btn btn-default">Search</a>
		</form>
	</div>
{% endblock %}

