<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title ng-bind="title">{% block title %}dlt.tw{% endblock %}</title>
  
  {% block opengraph_meta %}
    <meta property="og:site_name" content="RishiSatsangi.com - artwerks by Rishi Satsangi">
    <meta property="og:type" content="website">
  {% endblock %} 

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- jquery -->
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>

  <script src="//assets.artistcontrolbox.com/js/autolink-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>



	<!-- bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <!-- sitewide js -->
  <script src="js/site.js"></script>

	
  <link rel="stylesheet" href="/css/site.css">

  <!-- google font -->
<!--   <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'> -->
<!--<link href="http://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet" type="text/css">  -->

  {% block headscript %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="NavController">
  <!-- Brand and toggle get grouped for better mobile data-dismissplay -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gallery-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">dlt.tw</a>
  </div>



  <!-- Collect the nav links, forms, and other content for toggling -->
  {%if user!=""%}
  <div class="collapse navbar-collapse" id="gallery-navbar-collapse">
    <ul class="nav navbar-nav">

        <li class="{%if section=="/account" %}active{%endif%} dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id="twitter-user-profile">dddd<!-- twitter user profile--></span><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <!--<li><a href="/account"><span class="glyphicon glyphicon-link"></span> My Acount</a></li>-->
            <li><a href="/logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
          </ul>

        </li>
        <li>
            <form id="filter-form">
                <div class="form-group pull-left">
                    <label for="until">All:</label>
                    <input type="checkbox" class="form-control" id="all" />
                </div>
                <div class="form-group pull-left">
                    <label for="until">Max Id:</label>
                    <input type="text" class="form-control input-sm" id="max_id" placeholder="tweet id" data-toggle="tooltip" data-placement="bottom" title="Return 200 tweets with this tweet id as the newest">
                </div>
                <div class="form-group pull-left">
                    <label for="until">Per Page:</label>
                    <select class="form-control input-sm" id="count">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200" selected="selected">200</option>
                    </select>
                </div>
                <div class="form-group pull-left">
                    <br />
                    <small id="date-range"></small><br />
                    <a id="fetch" class="btn btn-default btn-xs">Next Page</a>
                </div>
                <div class="form-group pull-left">
                    <br />
                    <br />
                    <a id="delete" class="btn btn-danger btn-xs disabled">Delete <small id="delete-count"></small></a>
                </div>
            </form>
        </li>
    </ul>
  </div><!-- /.navbar-collapse -->
  {%endif%}
</nav>

<script type="text/template" id="twitter-user-profile-template">
  <img src="<%-profile_image_url%>" width="24" height="auto"  class="img-rounded"/> @<%-name%>
</script>


<div class="container" id="main_content">
  
  {% if flash.error != "" %}
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Error!</strong> {{flash.error}}
  </div>
  {% endif %}

  {% if flash.success != "" %}
  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Success!</strong> {{flash.success}}
  </div>
  {% endif %}
	
  {% block body %}{% endblock %}
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Modal title</h2>
      </div>
      <div class="modal-body" id="myModalContent">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
<!-- <center>&copy; 2014 RishiSatsangi.com</center> -->
</div>
<script type="text/json" id="twitter-user">{{ user|json_encode|raw }}</script>
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));</script>
</body>
</html>
