#main_content {
  margin-top: 100px;
}
#twitter-user-profile img {
  padding: 0 5px 0 0;
}
#delete-count {
  margin-left: 5px;
}
.load-hide {
    display:none;
    visibility: hidden;
}

li form {
  margin-top: 5px;
  color: #fff;
}
li form label {
  display: inline;
}

li .form-group {
  margin-right: 10px;
}
li .form-control {
  width: auto;
  display: inline-block;
}

/**
 * @link https://dev.twitter.com/web/overview/css
  */ 
blockquote.twitter-tweet {
  display: inline-block;
  padding: 0px 16px 16px 36px;
  margin: 10px 0;
  max-width: 468px;
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  font: bold 14px/18px Helvetica, Arial, sans-serif;
  color: #000;
}
blockquote.twitter-tweet:hover, blockquote.twitter-tweet.selected {
    background-color: #ffd7da;
    cursor: pointer;
}
 
blockquote.twitter-tweet p {
  font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif;
  margin: 0 5px 10px 0;
  white-space: pre-wrap;
}

blockquote.twitter-tweet.selected:hover p,
blockquote.twitter-tweet.selected p {
  text-decoration: line-through;
}
 
blockquote.twitter-tweet a[href^="https://twitter.com"],
blockquote.twitter-tweet a[href^="https://t.co"] {
  font-weight: normal;
  font-size: 12px;
}
blockquote.twitter-tweet small a {
    color: #666;
}
blockquote.twitter-tweet img {
    vertical-align: text-top;
    max-width: 300px;
    height: auto;
}
blockquote.twitter-tweet input[type=checkbox] {
    margin-top: 10px;
    margin-left: -24px;
}
blockquote.twitter-tweet .label-default {
  background-color: #bbb;
}


/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


/**
 * @link http://ironsummitmedia.github.io/startbootstrap-simple-sidebar/
 * Sidebar Styles 
 */

.sidebar-nav {
    color: #fff;
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 15px;
    list-style: none;
}

.sidebar-nav li form {
    line-height: 40px;
}
.sidebar-nav li a {
    display: block;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 260px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding-left: 50px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}